header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
    color: #000;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #777;
    width: 60%;
  }

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

img {
    width: auto;
    box-shadow: 0 0 30px #777;
    border: 1px solid #333;
  }

p {
    color: #000;
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px #777;
    width: 90%;
}