@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  --primary-color: #BFD2BF;
  --secondary-color: #7BB2D9;
  --accent1-color: #ADA8BE;
  --accent2-color: #000;

  --heading-font: "Garamond";
  --paragraph-font: Helvetica;

  --headline-color-on-white: #000;  /* headlines on a white background */ 
  --headline-color-on-color: #000; /* headlines on a colored background */ 
  --paragraph-color-on-white: #BFD2BF; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #000; /* paragraph text on a colored background */ 
  --text-background-color: #BFD2BF;
  --nav-link-color: #000;
  --nav-background-color: #7BB2D9;
  --nav-hover-link-color: #7BB2D9;
  --nav-hover-background-color: #646F4B;
}

html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
  border-radius: 15px;
}
main {
  padding: 1em;
  background-color: var(--accent1-color);
  border-radius: 15px;
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
ul {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  list-style-type: none;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--text-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  margin: 0 auto;
	max-width: 800px;
  border-radius: 15px;
}
nav a {
  display: block;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
section.card {
  background-color: var(--secondary-color);
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  box-shadow: 3px 3px #9c9e9d;
  border-radius: 15px;
}
section.card h3 {
  border-radius: 15px;
  background-color: #BFD2BF;
  text-align: center;
}
footer {
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  border-radius: 15px;
}
#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 5px;
	left: 5px;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
  border-radius: 10px;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
div header {
  grid-area: header;
  background-color: #fed330;
  padding: 20px;
}
div article {
  grid-area: content;
  background-color: #20bf6b;
  padding: 20px;
}
div aside {
  grid-area: sidebar;
  background-color: #45aaf2;
  padding: 20px;
}
div footer {
  padding: 20px;
  grid-area: footer;
  background-color: #fd9644;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "header  header"
    "sidebar content"
    "footer  footer";
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}
.center:hover {
  box-shadow: 0 0 50px #333;
}