* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
}

header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main, section, footer {
	max-width: 767px;
	margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

section.card {
    max-width: 1000px;
	margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
	box-shadow: 3px 3px #9c9e9d;
	border-radius: 10px;
}

h3 {
    background-color: #588caf;
    border: 1px solid #588caf;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
}
nav ul {
	list-style-type: none;
}

ul {
    list-style-type: none;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}

.active {
	color: yellow;
}